/* ---- base page styles ---- */

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: url(./image/wood_grain.jpg);
  max-width: 100%;
}

header {
  padding: 10px 100px;
  box-sizing: border-box;
  text-align: left;
  font-size: 3em;
  font-weight: bold;
  color: #fff;
}

header {
  /* 3d txt */
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 10px 10px rgba(0, 0, 0, .2), 0 20px 20px rgba(0, 0, 0, .15);
}

nav {
  width: 100%;
  height: 50px;
  background: #627373;
  position: sticky;
  top: 0;
  z-index: 999;
}

nav ul {
  display: flex;
  margin: 0;
  padding: 0 60px;
  float: right;
}

nav ul li {
  list-style: none;
}

nav ul li a {
  display: block;
<<<<<<< HEAD
  color: #fff;
  padding: 0 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 50px;
}

.main-footer {
  margin-top: 30px;
  background-color: #627373;
=======
>>>>>>> 8b0edc828e4ebe64daa26b144937174c0c3bacc9
  color: #fff;
  padding: 0 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  line-height: 50px;
}

<<<<<<< HEAD
=======
.main-footer {
  margin-top: 30px;
  background-color: #627373;
  color: #fff;
}

>>>>>>> 8b0edc828e4ebe64daa26b144937174c0c3bacc9
.wrapper {
  display: flex;
  flex: 1;
  flex-direction: column;
  min-height: 100vh;
  max-width: 100%;
  justify-content: center;
}

/* ---- main page styles ---- */

section {
  width: 100%;
  height: a;
}

section.sec1 {
  box-sizing: border-box;
  height: auto;
}

section.sec1 h2 {
  font-size: 3em margin:0;
  padding: 0 0 20px;
  color: #fff;
  text-align: center;
}

section.sec1 p {
  font-size: 1.2em;
  margin: 1rem;
  padding: 1rem;
  color: #fff;
  font-weight: bold;
  text-align: center;
}

section.sec2 {
  box-sizing: border-box;
  height: auto;
}

section.sec2 h2 {
  font-size: 3em margin:0;
  padding: 0 0 20px;
  color: #fff;
  text-align: center;
}

section.sec2 p {
  font-size: 1.2em;
  margin: 1rem;
  padding: 1rem;
  color: #fff;
  text-align: center;
}

h2 {
  color: #fff;
}

/* ---- Gallery Styles ---- */

.image1 {
  display: flex;
  justify-content: center;
  max-width: 50%;
  margin-top: 2em;
  margin-left: 24%;
  filter: grayscale(75%);
}

.gallery {
  margin: 10px 50px;
}

.gallery img {
  width: 230;
  padding: 5px;
  border-radius: 25%;
  filter: grayscale(75%);
}

.gallery img:hover {
  filter: grayscale(0);
  transform: scale(1.1);
}

.galleryTitle {
  text-align: center;
}

.private {
  color: #fff;
}

/* ---- form style ---- */

form {
  max-width: 500px;
  margin: 10px auto;
  padding: 10px 20px;
  border-radius: 8px;
}

fieldset {
  margin-bottom: 30px;
  border: none;
}

label {
  display: block;
  margin: 4px 4px;
  color: #fff;
}

input {
  padding: 4px 0;
  margin: 2px 0;
  border-radius: 5px;
}

input[type="checkbox"] {
  display: inline;
  margin: 10px 4px 8px 0;
  cursor: pointer;
}

button {
  padding: 19px 39px 18px 39px;
  color: #FFF;
  background-color: #627373;
  font-size: 18px;
  text-align: center;
  font-style: normal;
  border-radius: 5px;
  width: 60%;
  border: 1px solid #000;
  border-width: 1px 1px 3px;
  box-shadow: 0 -1px 0 rgba(255, 255, 255, 0.1) inset;
  margin-bottom: 10px;
  cursor: pointer;
<<<<<<< HEAD
}

#myBtn { /* back to top btn*/
    display: none;
    position: fixed;
    bottom: 10px;
    right: 20px;
    max-width:15%;
    z-index: 99;
    border: none;
    outline: none;
    background-color: #627373;
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 10px;
    font-size: 18px;
=======
>>>>>>> 8b0edc828e4ebe64daa26b144937174c0c3bacc9
}

#myBtn:hover { /*hover back to top*/
    background-color: #555;
}
legend {
  color: #fff;
}

.number {
  background-color: #627373;
  color: #fff;
  height: 30px;
  width: 30px;
  display: inline-block;
  font-size: 1.4em;
  margin-right: 6px;
  line-height: 30px;
  text-align: center;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  border-radius: 50%;
}

.email {
  color: #fff;
  font-size: 1.3em;
}

/* ---- for @media query hides second list when above media query size ---- */

.dropbtn, .dropdown-content {
  display: none;
}

/* ---- Smartphones (portrait) ---- */

@media(max-width: 500px) {
  /* .image1 {
  display: flex;
  justify-content: center;
} */
  nav ul {
    display: none;
  }
  /* ---- Dropdown Button ----*/
  .dropbtn {
    display: inline-block;
    width: 100%;
    background-color: #627373;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
  }
  /* ----The container <div> - needed to position the dropdown content ---- */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  /* ---- Dropdown Content (Hidden by Default) ---- */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    align-items: center;
  }
  /* ---- Links inside the dropdown ----*/
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  /* ---- Change color of dropdown links on hover ---- */
  .dropdown-content a:hover {
    background-color: #ddd;
  }
  /* ---- Show the dropdown menu on hover ---- */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  /* ---- Change the background color of the dropdown button when the dropdown content is shown ----*/
  .dropdown:hover .dropbtn {
    background-color: #627373;
  }
